/* -------------------------------- */
/* BASIC SETUP */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-weight: 300;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* -------------------------------- */
/* REUSEABLE COMPONENTS */
/* -------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* -------------------------------- */
/* HEADINGS
/* -------------------------------- */

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: left;
}

h4 {
  position: relative;
  left: 110px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  word-spacing: 2px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #1abc9c;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

/* -------------------------------- */
/* Later additions*/
/* -------------------------------- */
.name {
  font-size: 140%;
  font-weight: 700;
  line-height: 40px;
}

p.title {
  font-size: 120%;
  line-height: 34px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 400;
}

.pic {
  border: 1px solid;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 320px;
}

/* -------------------------------- */
/* Paragraphs*/
/* -------------------------------- */
.long-copy {
  font-size: 90%;
  margin-top: 15px;
  line-height: 145%;
  width: 70%;
  text-align: center;
}

.box p {
  font-size: 80%;
  line-height: 145%;
  margin-bottom: 40px;
}

/* -------------------------------- */
/* ICONS*/
/* -------------------------------- */

.big-icon {
  display: inline-block;
  color: #1abc9c;
  margin-bottom: 20px;
  font-size: 80px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  color: #1abc9c;
  font-size: 80%;
  margin-right: 10px;

  /* secrets to align text and icons  */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* -------------------------------- */
/* LINKS*/
/* -------------------------------- */
a:link,
a:visited {
  color: #1abc9c;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #1abc9c;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* -------------------------------- */
/* BUTTONS*/
/* -------------------------------- */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.all-btn {
  text-align: center;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  color: #fff;
  margin-right: 15px;
}

.hello {
  display: block;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  width: 160px;
  color: #fff;
  box-sizing: border-box;
  font-size: 40%;
  line-height: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px 30px;
  margin-bottom: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #1abc9c;
  color: #1abc9c;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #1abc9c;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"] {
  border: 1px solid #1abc9c;
  background-color: transparent;
  color: #1abc9c;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #1abc9c;
  color: #fff;
}

/* -------------------------------- */
/* HEADER */
/* -------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/header-background1-min.jpg);
  background-size: cover;
  background-position: center;
  height: 120vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* for when logo is ready */
/* .logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
} */

/* new nav with flexbox */
.flex-nav li {
  list-style-type: none;
  padding: 20px 10px;
}

.flex-nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 8px 0px;
  font-weight: bold;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.flex-nav a:hover {
  border-bottom: 2px solid #1abc9c;
}

/* nav a:hover {
  border-bottom: 2px solid #1abc9c;
} */

/* .main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block;
  margin-right: 40px;
  font-weight: normal;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #1abc9c;
}

/* mobile nav */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  /* font-size: 200%; */
  color: #fff;
}

/* skicky nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 18px;
  margin-bottom: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:link:visited {
  padding: 8px 0;
  color: #555;
}

/* -------------------------------- */
/* ABOUT */
/* -------------------------------- */

.section-about .long-copy {
  margin-bottom: 30px;
}

/* -------------------------------- */
/* PROJECTS */
/* -------------------------------- */

.section-projects {
  background-color: #f4f4f4;
}

/* horizontal line */
.hori-line {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
}

.project-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0px 2px 2px #efefef;
}

.project-box img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 2px solid;
  border-top: 1px solid rgb(232, 232, 232);
}

.project-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.project-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-box div:last-child {
  text-align: center;
  border: 0;
}

.project-title {
  font-size: 80%;
}

.project-box ul {
  list-style: none;
}

.project-box ul li {
  padding: 5px 0;
}

/* .contact-links {
  list-style: none;
  float: left;
} */

/* .contact-links ul li {
  margin: 5px 10px;
  padding: 0;
  font-weight: bold;
  font-size: 70%;
} */

/* .section-contact ul li {
  margin: 10px 20px;
  padding: 0;
  font-weight: bold;
  font-size: 80%;
  letter-spacing: 1px;
} */

/* Contact Me */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* -------------------------------- */
/* FOOTER*/
/* -------------------------------- */
footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links li a:visited,
.social-links li a:link {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.icon-social-twitter,
.icon-social-github {
  transition: color 0.2s;
}

.icon-social-twitter:hover {
  color: #00aced;
}

.icon-social-github:hover {
  color: #24292e;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/* progress bar  */
.center {
  width: 40%;
  position: absolute;
  padding: 2px 10px;
  border-radius: 10px;
}

.skillbar p {
  text-transform: uppercase;
  margin: 5px 10px;
  padding: 0;
  font-weight: bold;
  font-size: 70%;
}

.skillbar p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill-percentage {
  background: #fff;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #1abc9c;
  border-radius: 6px;
}

.skill-level {
  background: #1abc9c;
  width: 100%;
  height: 7px;
  border-radius: 6px;
}
